version: "2.4"

services:
  cbc-explorer-observer:
    build: .
    image: cbc-explorer/api
    environment: &app_base
      MYSQL_HOST: 127.0.0.1
      MYSQL_PASS: 'helloload'
      MYSQL_USER: 'root'
      # Name of the database cbc-explorer will connect to and use
      # this db must exist
      MYSQL_DB: 'cbc_explorer'
      REDIS_ADDR: 127.0.0.1:6379
      CHAIN_WS_ENDPOINT: 'ws://127.0.0.1:9933'
      # the types file used for the chain as:
      # configs/source/{NETWORK_NODE}.json
      NETWORK_NODE: 'cbc'
      DEPLOY_ENV: 'dev'
      SUBSTRATE_ADDRESS_TYPE: 42
      SUBSTRATE_ACCURACY: 12
    command: ["start","subscribe"]
    volumes:
      - ./configs/config.yaml:/subscan/configs/config.yaml
    network_mode: host
    restart: unless-stopped

  cbc-explorer-worker:
    environment:
      <<: *app_base
    image: cbc-explorer/api
    command: [ "start","worker" ]
    volumes:
      - ./configs/config.yaml:/subscan/configs/config.yaml
    network_mode: host
    restart: unless-stopped
    depends_on:
      - cbc-explorer-observer

  cbc-explorer-api:
    build: .
    image: cbc-explorer/api
    environment:
      <<: *app_base
    volumes:
      - ./configs/config.yaml:/subscan/configs/config.yaml
    network_mode: host
    restart: unless-stopped
    depends_on:
      - cbc-explorer-observer
      - cbc-explorer-worker